<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upatras.heartbeatapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="upatras.heartbeatapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="upatras.heartbeatapp.HeartBeatSpectrumActivity"
            android:label="@string/title_activity_heart_beat_spectrum" >
        </activity>
        <activity
            android:name="upatras.heartbeatapp.DeviceScanActivity"
            android:label="@string/title_activity_heart_beat_spectrum" >
        </activity>
        <activity
            android:name="upatras.heartbeatapp.DeviceControlActivity"
            android:label="@string/title_activity_heart_beat_spectrum" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
</manifest>
